@*@model IEnumerable<Emuher.Models.Araba> *@
@model PagedList.IPagedList<Emuher.Models.Araba>

@using PagedList.Mvc;
@using PagedList;
@*<link href="~/Content/PagedList.css" rel="stylesheet"type="text/css"/>*@
@{
    ViewBag.Title = Resources.lang.anasayfa;
}


<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.baslik
            <small>@ViewBag.baslik2</small>
        </h1>
    </div>
</div>
<p>
@Html.ActionLink(Resources.lang.markayagorelistele, "Index", new { siralama = ViewBag.NameSortParameter, page=ViewBag.pageIndexParameter })   |   
@Html.ActionLink(Resources.lang.fiyatagorelistele, "Index", new { siralama = ViewBag.DateSortParameter, page = ViewBag.pageIndexParameter })
</p>
<div class="row">
    @*Buraya veritabanı sorgusu gelecek foreach içerisinde*@
    @foreach (var item in Model)
    {
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-thumbnail" style="width:700px;height:250px;" src=@Href(Html.DisplayFor(ModelItem => item.Resim).ToString()) alt=@Html.DisplayFor(modelItem => item.Model.ModelAdi)>
            </a>
            <h4>
                <a href="#">@Html.DisplayFor(modelItem => item.Model.Marka.MarkaAdi) - @Html.DisplayFor(modelItem => item.Model.ModelAdi)</a>
            </h4>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>@Resources.lang.fiyat: </td>
                        <td>@Html.DisplayFor(modelItem => item.Fiyat) TL</td>
                    </tr>
                    <tr>
                        <td>@Resources.lang.kilometre: </td>
                        <td>@Html.DisplayFor(modelItem => item.Kilometre)</td>
                    </tr>
                    <tr>
                        <td>@Resources.lang.yakittipi: </td>
                        <td>@Html.DisplayFor(modelItem => item.YakitTipi)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center><div class="btn btn-default active btn-sm">@Html.ActionLink(Resources.lang.detaylaricintiklayiniz, "Details", new { id = item.ArabaID })</div></center>
                            @*<a class="btn btn-primary btn-lg active" " role="button">Detaylar için tıklayın</a>*@
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    }
    <br />
</div>
    <div>@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.PageNumbersOnly)</div>
    @*Sayfa @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model,page=>Url.Action("Index", new { page,}))*@
    @*<div class="pagedList">
        @Html.PagedListPager(Model, sayfa => Url.Action("Kitaplar", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
    </div>*@

   @*Buraya kadar olcak*@
    
<!-- /.row -->
<!-- Projects Row -->
