@model Emuher.Models.Araba

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Arabayı Sil</h2>

<h3>Aşağıdaki kaydı silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model.ModelAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.ModelAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanzimanTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanzimanTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YakitTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YakitTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovdeTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovdeTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotorGucu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorGucu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Admin Paneline Dön", "Index")
        </div>
    }
</div>
